<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<footer id ="fragment " th:fragment="footer">
    <div>
        <h1>This is fragment tag</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur earum, fugiat ipsum laborum nihil omnis pariatur quam sapiente sint, tempora, temporibus voluptatibus. At commodi enim fugiat nisi obcaecati provident vel vitae, voluptates. Accusantium, amet beatae consequuntur ea eum impedit incidunt maxime nesciunt nisi, quia quisquam repellat repudiandae sint voluptatem?</p>

    </div>
</footer>
</body>
</html>