<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Replace</h1>
<footer id="replace" th:replace="footer :: footer(${Heading},${date})">

</footer>

<h1>____________________________________________________________________________________________________</h1>

<h1>Include</h1>
<footer id="include" th:include="footer :: footer(${Heading},${date})">

</footer>

<h1>____________________________________________________________________________________________________</h1>

<h1>Insert</h1>
<footer id="insert" th:insert="footer :: footer(${Heading},${date})">

</footer>


</body>
</html>