<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>List iteration</h1>
<h1 th:text="${list}" ></h1>
<ul>
    <li th:each="n,status:${list}">
        <span th:style ="${status.odd ? 'color:red; font-weight:bold ' :''}"  th:text="${status.index+1}+'  '+ ${n}"></span>
    </li>

</ul>


</body>
</html>