<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/welcome.css}" type = "text/css" />
</head>
<body>
	<h1>Welcome to <strong> Hinjewadi</strong></h1>
	<img class="profile" src="" th:src="@{/image/postman.png}" alt="Profile-picture" />
	<container class=text-center>
		<div class="div">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus soluta minima sunt beatae inventore atque nobis repellendus velit. Ab voluptas mollitia eum quisquam ipsum. Ratione ullam facere recusandae consectetur cumque voluptatum facilis maxime itaque beatae aut velit mollitia repellat ex optio dolore iure nesciunt totam odio numquam perspiciatis. Dolorum dolore.</p>
		</div>
	</container>
	<script th:src="@{/js/welcome.js}"></script>
</body>
</html>